.profile-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 8%;
}

.profile-card {
    width: 600px;
    max-width: 95%;
    overflow: hidden;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 150px;
}

.profile-picture {
    height: 100px;
}

.profile-header,
.profile-footer {
    background-color: var(--royal);
}