:root {
    --hp-font: "hp";
    --primary-font: 'playfair', sans-serif;
    --secondary-font: 'lato', sans-serif;
    --royal: #a7328c;
    --pink: #C745A9;
    --maroon: #A73252;
    --purple: #8732A7;
}

/* Fonts */
@font-face {
    font-family: "hp";
    src: url(/HARRYP__.TTF);
}

@font-face {
    font-family: "playfair";
    src: url(/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lato";
    src: url(/Lato-Regular.ttf);
}


body {
    font-family: var(--primary-font);
}

/* Navbar */
.navbar {
    background: var(--royal);
}

#main-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}


.navbar-brand {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


/* Footer */
.btn {
    background: var(--royal);
    color: white;
    border: 1px solid var(--royal);
    border-radius: 25px;

}

.btn:hover {
    transition: transform 0.4s ease-in-out;
    transform: scale(1.020);
    background-color: white;
    color: var(--royal);
    border: 1px solid var(--royal);
}

.btn-pink {
    background: white;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 25px;

}

.btn-pink:hover {
    transition: transform 0.4s ease-in-out;
    transform: scale(1.020);
    background-color: var(--pink);
    color: white;
    border: 1px solid white;
}

.hp {
    font-family: var(--hp-font);
}

.primary {
    font-family: var(--primary-font);
}

.secondary {
    font-family: var(--secondary-font);
}

.royal {
    color: var(--royal);
}

@media only screen and (max-width: 768px) {
    #main-nav {
        justify-content: start;
    }

    .navbar-nav {
        align-items: start;
    }
}